<div class="card">
  <div class="card-title black">
     <h3><a href="{{link}}" target="_blank">{{title}}</a> <span class="right btn red artBtn" id="delete">Delete From Saved</span><span class="right btn purple artBtn" id="notes">Article Notes</span></h3>
  </div>
  <div class="card-content">
    <p>{{sub}}</p>
  </div>
</div>