<div class="card">
  <div class="card-title blue-grey darken-2">
     <h3><a href="{{link}}" target="_blank" class="blue-grey-text text-lighten-5">{{title}}</a> <span class="right btn pink lighten-1">Save Article</span></h3>
  </div>
  <div class="card-content">
    <p>{{sub}}</p>
  </div>
</div>